.App-eth {
  text-align: center;
}

.App-logo-eth {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-eth {
    animation: App-logo-spin infinite 20s linear;
    animation-duration: 5s;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
